---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// import fonts
@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);


// Our variables
$title-font-family: 'Crete Round', Didot, serif;
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$background-color: white;
$brand-color:      #2a7ae2;
$text-color:       #111;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$marker-red:       #D31332;
$marker-green:     #389e3a;
$marker-blue:      #05539F;

$link-plain:       #D31332;
$link-hover:       lighten($link-plain, 25%);


$on-palm:          600px;
$on-laptop:        800px;

$footer-height:    180px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  background:  $background-color;
  font-family: $base-font-family;
}

#logo {
  max-height: 100px;
  margin-top: -7px;
  padding: 15px;
  padding-left: 20px;
}

.site-nav {
  line-height: 100px;
}

.trigger {
  padding-right: 50px;
}


@include media-query($on-palm) {
    #logo {
        padding-left: 15px;
    }

    .trigger {
      padding-right: 0px;
    }
}


nav.site-nav div.trigger a {
  color: #6b6b6b;
  font-size: 19px;
  font-family: $title-font-family;
}


.site-header {
  font-family: $title-font-family;
  background: $background-color;
}

h1 {
  font-family: $title-font-family;
}

h2 {
  font-family: $title-font-family;
}

a {
  color: $link-plain;
  &:visited {
    color: $link-plain;
  }
  &:hover {
    color: $link-hover;
  }
}

#about {
  display: table-cell;
  vertical-align: bottom;
}

// blog articles view
article {
  text-align: center;
  header {
    h1 a {
      color: $marker-green;
      &:visited {
        color: $marker-green;
      }
    }
    p {
      font-size: 14px;

    }
  }

  footer {
    text-align: left;
    ul.tags {
      display: inline;
      margin-left: 5px;

      li:after {
        content: ", ";
      }

      li:last-child:after {
        content: "";
      }

      li {
        display: inline-block;
      }


      a {
        color: #67B3D8;
        &:visited {
          color: #67B3D8;
        }
      }
    }


    .btn {
      float: right;
      color: #808080;
      background-color: #E8E8E8;
      border: none;
      -webkit-transition-delay: 0s;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-property: all;
      -webkit-transition-timing-function: ease;
      &:hover {
        background-color: darken(#E8E8E8, 5%);
      }
    }

    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
  }

}
// end blog articles view

#ctas {
  .btn {
    text-transform: capitalize;
    color: white;
    background-color: $marker-blue;
    border: none;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    &:hover {
      background-color: lighten($marker-blue, 5%);
    }
  }

  margin-top: 40px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  background-color: #f5f5f5;
}

#footer a {
  color: $marker-green;
  &:hover {
    color: lighten($marker-green, 15%);
  }
}

.site-header {
  background-color: #f5f5f5;
}

#about {
  padding-top: 30px;
}

.post-title {
  padding-top: 18px;
}
