---
layout: default
title: Articles
permalink: /articles/
---

<div class="articles">

  {% for post in site.posts %}

  <article>
    <header>
      <h1><a href="{{ BASE_PATH }}{{ post.url }}">
        {{ post.title }}
        </a></h1>
        <p>
          <time pubdate>{{ post.date | date: "%B %d, %Y" }}</time>
          &raquo;
          <a href="{{ BASE_PATH }}{{ post.url }}/#disqus_thread">Comments</a>
        </p>
    </header>

    <p>{{ post.content | truncatewords: 50 }}</p>

    <footer>
        <a class="btn btn-default" role="button" href="{{ BASE_PATH }}{{ post.url }}">Read More<a/>
    </footer>
  </article>

    {% endfor %}

</div>

{% include disqus-comment-count.html %}
