<footer id="footer" class="site-footer navbar-fixed-bottom">

  <div class="container">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="text">
          Copyright &copy; 2014 Dillon Kearns
        </p>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Social</h3>
        <ul class="social-media-list">
          <li><a href="https://www.linkedin.com/in/dillonkearns" title="linkedin"><span class="fa fa-lg fa-linkedin-square"></span> dillonkearns</a><br></li>
          <li><a href="https://github.com/dillonkearns" title="github"><span class="fa fa-lg fa-github"></span> dillonkearns</a><br></li>
          <li><a href="https://twitter.com/dillonkearns" title="twitter"><span class="fa fa-lg fa-twitter"></span> @dillontkearns</a><br></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>Contact </h3>
        <ul class="social-media-list">
          <li><a href="https://www.google.com/maps/place/Santa+Barbara,+CA"><span class="fa fa-lg fa-map-marker"></span> Based in Santa Barbara, CA</a></li>
          <li><a href="mailto:dillon@dillonkearns.com"><span class="fa fa-lg fa-envelope"></span> dillon@dillonkearns.com</a><br></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
